@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700);

body {
 margin-top: 0px;
}

p {
    font-family: 'PT Serif', Georgia,Cambria,"Times New Roman",Times,serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'PT Serif', Georgia,Cambria,"Times New Roman",Times,serif;
 font-weight: 700;
}

h1 {
  font-size: 40px;
}

a {
    color: #2a6496;

}

h1 a, h1 a:hover{
    color: #404040;
}

.body-content {
    margin-top: 60px;
}

.body-content hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0.15) -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    display: block;
    margin: 30px auto 30px;
    width: 20%;
}

.navbar {
    min-height: 60px;
    color: #000;
    background-color: rgba(235, 235, 235, 0.95);
    border-color: #D7D7D7;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    padding: 0 24px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar-header {
    margin-right: 35px;
}

ul.nav li a {
    height: 60px;
    color: #404040;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

ul.nav li a:hover {
    text-decoration: underline;
}

.navbar-nav > li > a {
    padding-bottom: 20px;
    padding-top: 20px;
}

#blog-title {
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 5px;
}

#blog-description {
    font-family: courier;
    font-weight: 400;
    display: block;
    clear: left;
    color: #111;
    font-size: 11px;
    line-height: 13px;
    margin-top: 5px;
    padding-left: 2px;
}

.metadata p:before, .postlist .listdate:before {
    content: "";
}


.metadata {
    margin-top: -20px;
    margin-bottom: 10px;
}

.dateline a {
    font-size: 13px;
    color: #999;
}

.byline, .commentline {
    display: none !important;
}

.translations {
    margin-top: 5px;
}

#notebook-container.container {
    width: 100%;
    padding: 0px;
}

div.ps p {
    font-size: 1em;
    font-style: italic;
}

div.prompt {
    font-size: 13px;
    padding: 0.6em;
}
div.input_prompt {
    border-top: 1px solid transparent;
    color: navy;
}
div.prompt {
    font-family: monospace;
    line-height: 1.231em;
    margin: 0;
    padding: 0.4em;
    text-align: right;
    width: 11ex;
}

.vcard {
    float: left;
}

.strike {
    text-decoration: line-through;
}


.video-container {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 30px;
  padding-left: 10px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}